[user]
	name = Wolf-Agathon Schalý
	email = schaly_wolf-agathon@t-.online.de
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = false
	branch = false
	diff = false
	interactive = false
	status = false
	log = false
